node_modules
.playwright-mcp
.playwright-cli
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/releases/**
!.yarn/plugins
!.yarn/plugins/**
!.yarn/sdks
!.yarn/sdks/**
!.yarn/versions
!.yarn/versions/**
lib
dist
data
*.tsbuildinfo
client/styles/tailwind.generated.css
